# Autosave files
*.asv
*.m~
*.autosave
*.slx.r*
*.mdl.r*

# Derived content-obscured files
*.p

# Compiled MEX files
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Deployable archives
*.ctf

# Generated helpsearch folders
helpsearch*/

# Code generation folders
slprj/
sccprj/
codegen/

# Cache files
*.slxc

# Cloud based storage dotfile
.MATLABDriveTag

# Results folder
Results_*/
/Euler_LidDrivenCavity_v2
/EulerBackwards_LidDrivenCavity
/Lax_LidDrivenCavity
EulerBackwards_LidDrivenCavity.m
Lax_LidDrivenCavity.m
Lax_LidDrivenCavity_v2.m
TingWei_explicitSIMPLE_rev1.m
